#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom Swiper navigation button styles */
.swiper-button-next,
.swiper-button-prev {
  color: white; /* Change the color to white or any color you prefer */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px; /* Adjust the font size if needed */
  color: white; /* Change the icon color */
}

/* Optional: Change navigation button background or borders */
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5); /* Change background color */
  border-radius: 50%; /* Make the button circular */
}

.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5); /* Change background color */
  border-radius: 50%; /* Make the button circular */
}

/* Optional: Custom hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Change hover background color */
}
